@import url("https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: top&bottom and left&right; */
  padding: 20px 80px;
  /* box-shadow: x y radius rgba; */
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#close{
  display: none;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}

#hero {
  background-image: url(img/hero4.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url(img/button.png);
  border: 0;
  background-color: transparent;
  color: #088178;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  margin: 15px 0;
}

.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
.fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
}

.fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
.fe-box:nth-child(3) h6 {
    background-color:#d1e8f2;
}
.fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
.fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
.fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243, 181, 25)
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .scart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span{
  color: #ef3636;
}
#banner button{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
#banner button:hover{
  background: #088178;
  color: #fff;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 610px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
  background-image: url(img/banner/b10.jpg);
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner button {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 2px;
  outline: none;
  transition: 0.2s;
}
#sm-banner .banner-box:hover button{
  background: #088178;
  border: 1px solid #088178;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(img/banner/b18.jpg);
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  font-size: 15px;
  font-weight: 800;
  color: #ec544e;
}
#newsletter .form{
  display: flex;
  width: 30%;

}
#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span{
  color: #ffbd27;
}
#newsletter input{
  height: 3.125rem;
  border-radius: 4px;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .Follow{
  margin-top: 20px;
}
footer .icon i{
  color: #465b52;
  padding-right:4px ;
  cursor: pointer;
}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install .row{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: #088178;
}
footer .copyright{
  width: 100%;
  text-align: center;
} 

/*Shop Page*/

#page-header {
  background-image: url(img/banner/b1.jpg);
  background-position: bottom;
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #008178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}



/*sproduct.html*/
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .singleproimage {
  width: 40%;
  margin-right: 50px;
}

.smallimagegroup {
  display: flex;
  justify-content: space-between;

}

.small-image-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .singleprodetails {
  width: 50%;
  padding-top: 30px;
}

#prodetails .singleprodetails h4 {
  padding: 40px 0 20px 0;
}

#prodetails .singleprodetails h2 {
  font-size: 26px;
}

#prodetails .singleprodetails select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: #fff;
}

#prodetails .singleprodetails input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

#prodetails .singleprodetails button {
  background-color: #088178;
  height: 3.1.8rem;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 16px 18px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
}

#prodetails .singleprodetails span {
  line-height: 25px;
  color: rgb(80, 80, 80);
}

.margin {
  margin: 50px 30px;
}



/*blog.html*/

.blog-header {
  background-image: url(img/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 50%;
  margin-right: 40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details{
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover{
  color: #088178;
}
#blog .blog-details a:hover::after{
  background-color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top: -45px;
  left: 0;
  font-size: 70px;
  color: #c9cbce;
  z-index: -9;
}


/*about.html*/


#about-header{
  background-image: url(img/about/banner.png);
}

#about-main img{
  width: 50%;
  height: auto;
}
#about-main{
  display: flex;
  align-items: center;
  padding: 40px 80px;
}
#about-main div{
  padding-left: 40px;
}
#about-app{
  text-align: center;
  padding: 40px 80px;
}
#about-app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video{
  width: 70%;
  height: 100%;
  border-radius: 20px;
}



/*contact.html*/

.contact-p{
  padding: 40px 80px;
}
#contact-header{
  background-image: url(img/banner/banner.jpg);
  /* background-position: right; */
 
}
#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details{
  width: 50%;
}
#contact-details .details span{
  font-size: 12px;
}
#contact-details .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding: 0 0 15px 0;
}
#contact-details .details li{
  display: flex;
  list-style: none;
  padding: 10px 0;
}
#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p{
  margin: 0;
  font-size: 16px;
}
#contact-details .map{
  width: 50%;
  height: 400px;
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
}
#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form span{
  font-size: 12px;
}
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button{
font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #008178;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
#form-details .people div{
  padding-bottom: 25px;
  margin: 40px 20px 0 0;
}
#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  display: block;
}
#form-details .people div{
  display: flex;
}


/*cart.html*/


#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img{
  width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3)
{
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid #e2e9e1;
}
#cart table thead td{
  padding: 18px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
#cart table tbody td{
  padding: 15px;
  font-size: 13px;
}
#cart table tbody tr{
  border: 1px solid #e2e9e1;
}
.cart-add-p{
  padding: 40px 80px;
  
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
  
}
#coupon div{
  position: relative;
}
#coupon h3{
  padding: 15px 15px 15px 8px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
  border-radius: 4px;
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#coupon button{
  background-color: #088178;
    color: #fff;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    position: absolute;
    right: 29%;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
#subtotal h3{
  padding-bottom: 15px;
}
#subtotal button{
  background-color: #088178;
    color: #fff;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
}


















/* Media Query */

@media(max-width:799px){
  #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 50vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0,0,0,0.1);
      padding: 80px 0 0 10px;
      transition: 0.4s;
    }
    #navbar.active{
      right: 0;
    }
  
    #navbar li{
      margin-bottom: 25px;
    }

    #no{
      display: none;
    }

    #mobile {
      display: flex;
      align-items: center;
    }

    #mobile i{
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
    }

    #close{
      display: initial;
      position: absolute;
      top: 35px;
      left: 30px;
      color: #222;
      font-size: 24px;
    }

    #hero {
     height: 70vh;
     padding: 0 80px;
     background-position: top 30% right 30%;
    }
    
    .section-p1 {
      justify-content:space-between;
      padding: 40px 40px;
    }
    
    #product1 .pro-container {
      justify-content: center;
    }

    product1 .pro {
     margin: 15px;
    
  }

    #banner {
      height: 20vh;
    }

    #sm-banner .banner-box {
    
     min-width: 100%;
     height: 30vh;
    }

   #banner3 {
     padding: 0 40px;
   }

    #banner3 .banner-box {
     width: 28%;
    }

    #newsletter .form {
     width: 100%;
    }

    /*shop.html*/
        #product1 .pro {
          margin: 10px 40px;
        }

  /*blog.html media query*/
    #blog {
      padding: 150px 15px 0 15px;
    }

    /*about.html media query*/
        #about-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 40px 40px;
        }
        #about-main img {
          width: 100%;
          height: auto;
        }
        #about-main div {
          padding: 40px 10px 0px 20px;
          line-height: 1.4;
        }
    #about-main p{
      font-size: 24px;
    }
    #about-main abbr{
      font-size: 20px;
    }
    #about-main marquee{
      font-size: 20px;
    }
    #about-app {
      text-align: center;
      padding: 40px 40px;
    }
    #about-app .video video {
      width: 100%;
    }

  /*contact.html media query*/
        .contact-p {
          padding: 40px 20px;
        }
        #contact-header {
          background-image: url(img/banner/banner.jpg);
          background-position:bottom;
        }
    #contact-details .details {
      width: 45%;
    }
    #contact-details .map {
      height: 350px;
    }
    #form-details {
      margin: 20px;
      padding: 20px;
    }
    #form-details .people div {
      display: flex;
      flex-direction: column;
      margin-right:20px;
    }
    footer .install {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
    }

  /*scart.html media query*/

    #prodetails .singleproimage {
      width: 100%;
      margin-right: 0px;
    }
    #prodetails .singleprodetails {
      width: 100%;
    }


  /*cart.html media query*/

  #cart{
    overflow-x: scroll;
  }

 #coupon {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 1px solid #e2e9e1;;
 }

  
}








@media(max-width:477px){

  #header {
      padding: 10px 30px;
    }

    #hero {
     
      padding: 0 20px;
      background-position:55%;
    }

     h2 {
       font-size: 32px;
     }
     h1 {
      font-size: 38px;
    }
        .section-p1 {
          padding: 20px;
    }

        .fe-box {
          width: 155px;
          margin: 0 0 15px 0;
        }

        #product1 .pro {
          width: 100%;
         
        }
    #banner {
      height: 40vh;
    }

    #banner h2 {
      font-size: 30px;
      text-align: center;
    }
    #sm-banner .banner-box2 {
     margin-top: 20px;
    }
    #sm-banner h2 {
      font-size: 25px; 
    }
    #banner3 {
      padding: 0px 20px;
    }
    #banner3 .banner-box {
      width: 100%;
    }
    #newsletter .form {
      width: 100%;
    }
    #newsletter {
      padding: 40px 20px;
    }
    footer .install{
      display: flex;
      align-items: center;
      justify-content: center;
    }

   footer .row{
    display: flex;
   }

    footer .row img{
      margin-right: 0, 10px, 0, 0;
    }


    /*blog.html media query*/

    #blog .blog-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    #blog .blog-img {
      width: 100%;
      margin-right: 0px;
    }
    #blog .blog-details {
      width: 100%;
      padding: 20px 0px 20px 0px;
    }


    /*shop.html media query*/

    #page-header p {
      text-align: center;
    }


    /*about.html media query*/

     #about-main p {
     font-size: 18px;
    }
    #about-main abbr {
      font-size: 15px;
    }
    #about-main marquee {
      font-size: 17px;
    }
    #about-app {
      text-align: center;
      padding: 40px 20px;
    }
    #about-app .video video {
      border-radius: 10px;
    }


    /*contact.html media query*/

    #contact-details {
      display: flex;
      flex-direction: column;
    }
    #contact-details .details {
      width: 100%;
    }
    #contact-details .map {
      width: 100%;
    }
    #form-details {
      margin: 10px;
      padding: 30px 10px;
      border: 1px solid #e1e1e1;
      flex-wrap: wrap;
    }
    #form-details form {
      width: 100%;
    }
    #form-details .people div {
      padding: 50px 0 0 40px;
      flex-direction: row;
    }
    .blog-header p {
      text-align: center;
    }

  /*scart.html media query*/
    #prodetails .singleproimage {
      width: 100%;
      margin-right: 0px;
    }
    #prodetails .singleprodetails {
      width: 100%;
    }


    /*cart.html media query*/

        #cart-add {
          display: flex;
          flex-direction: column;
        }
    #coupon {
     width: 100%;
     border: none;
    }
    #coupon button {
      right:0;
    }
    #coupon input {
    
      width: 75%;
      margin-right: 0px;
      
    }
    .cart-add-p {
      padding: 40px 40px;
    }
    #subtotal {
      width: 100%;
      padding: 30px;
    }

}







   